.container {
  max-width: 1200px;
  margin: auto;
  padding: 1rem;
  font-family: 'Segoe UI', sans-serif;
}
.btn-primary {
  background-color: #6200ea;
  border-color: #6200ea;
}

.btn-primary:hover {
  background-color: #4b00b5;
  border-color: #4b00b5;
}

.btn-warning {
  background-color: #fbbc05;
  border-color: #fbbc05;
  color: #000;
}

.btn-warning:hover {
  background-color: #e2a806;
  border-color: #e2a806;
}

.btn-danger {
  background-color: #d32f2f;
  border-color: #d32f2f;
}

.btn-danger:hover {
  background-color: #b71c1c;
  border-color: #b71c1c;
}

input.form-control {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.table-container {
  max-height: 470px;
  overflow-y: auto;
  border: 1px solid #dee2e6;
  border-radius: 5px;
  margin-top: 20px;
  background-color: white;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}

.sticky-header th {
  position: sticky;
  top: 0;
  background-color: #f1dbfe !important;
  z-index: 1;
  color: #333;
  font-weight: 600;
}

.colored-border-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
}

.colored-border-table th,
.colored-border-table td {
  border: 1px solid rgb(205, 203, 203);
  padding: 10px 12px;
  text-align: left;
}

.colored-border-table tr:hover {
  background-color: #f9f9f9;
}

.table-container::-webkit-scrollbar {
  width: 6px;
}

.table-container::-webkit-scrollbar-thumb {
  background-color: #a7a7a7;
  border-radius: 4px;
}

.modal-dialog {
  max-width: 500px;
  margin: 1.75rem auto;
}

.modal-content {
  padding: 20px;
  font-size: 14px;
  border-radius: 8px;
}

.modal-content input.form-control {
  font-size: 14px;
  padding: 6px 10px;
}

.modal-content h5,
.modal-content h3 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
}

.modal-content .btn {
  font-size: 13px;
  padding: 6px 12px;
}

.img-thumbnail {
  border-radius: 10px;
  max-height: 180px;
  margin-top: 1rem;
}