.table-container {
  max-height: 440px;
  overflow-y: auto;
  border: 1px solid #e0d7f1;
  border-radius: 8px;
  margin-top: 20px;
  background-color: white;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  font-family: 'Segoe UI', sans-serif;
}

.table-container::-webkit-scrollbar {
  width: 0px;
}

.table-container::-webkit-scrollbar-thumb {
  background-color: #a7a7a7;
  border-radius: 0px;
}

.colored-border-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
  background-color: #ffffff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.colored-border-table th,
.sticky-header th {
  position: sticky;
  top: 0;
  background-color: #e7d7f7;
  color: #7c00a1;
  font-weight: 600;
  z-index: 1;
  text-align: center;
  padding: 12px 14px;
  border: 1px solid #e0d7f1;
}

.colored-border-table td {
  padding: 12px 14px;
  text-align: center;
  border: 1px solid #ddd;
  color: #7c00a1;
  font-weight: 500;
}

.colored-border-table tr:nth-child(even) {
  background-color: #f8f4fc;
}

.colored-border-table tr:hover {
  background-color: #f3e1ff;
  transition: background-color 0.2s ease-in-out;
}

.colored-border-table td button {
  padding: 6px 12px;
  font-size: 13px;
  border: none;
  border-radius: 6px;
  font-weight: 500;
  cursor: pointer;
  margin: 0 4px;
  color:white;
  background-color: #a004cf;
}

.modal-dialog {
  max-width: 500px;
  margin: 1.75rem auto;
}

.modal-body {
  padding: 20px;
  font-size: 14px;
  border-radius: 8px;
  font-family: 'Segoe UI', sans-serif;
  text-align: left;
}

.modal-content input.form-control {
  font-size: 14px;
  padding: 6px 10px;
}

.modal-content h5,
.modal-content h3 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
}

.modal-content .btn {
  font-size: 13px;
  padding: 6px 22px;
}

.modal-footer.justify-space-between {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0.75rem 1rem;
}

.address-box {
  background-color: #fdf6ff;
  border: 1px solid #e0d7f1;
  border-radius: 6px;
  padding: 10px 12px;
  font-size: 14px;
  color: #7c00a1;
  margin-top: 4px;
  white-space: pre-wrap;
  font-weight: 500;
}
.btn {
  background-color: #a004cf;
  border-color: #a004cf;
} 
.modal-content .btn-danger{
  background-color: rgb(206, 23, 23);
  border:none;
}
.modal-content .btn-secondary{
  background-color:#7b7b7b;
  border: none;
}
.d-flex{
  margin-top: -30px;
}