.table-container {
  max-height: 470px;
  overflow-y: auto;
  border: 1px solid #dee2e6;
  border-radius: 5px;
  margin-top: 20px;
  background-color: white;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}

.sticky-header th {
  position: sticky;
  top: 0;
  background-color: #f1dbfe !important;
  z-index: 1;
  color: #333;
  font-weight: 600;
}

.colored-border-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
}

.colored-border-table th,
.colored-border-table td {
  border: 1px solid rgb(205, 203, 203);
  padding: 10px 12px;
  text-align: left;
}

.colored-border-table tr:hover {
  background-color: #f9f9f9;
}

.table-container::-webkit-scrollbar {
  width: 6px;
}
.table-container::-webkit-scrollbar-thumb {
  background-color: #a7a7a7;
  border-radius: 4px;
}

.modal-dialog {
  max-width: 500px; 
  margin: 1.75rem auto;
}

.modal-content {
  padding: 20px;
  font-size: 14px; 
  border-radius: 8px;
}

.modal-content input.form-control {
  font-size: 14px;
  padding: 6px 10px;
}

.modal-content h5,
.modal-content h3 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
}

.modal-content .btn {
  font-size: 13px;
  padding: 6px 12px;
}