.table-container {
  max-height: 470px;
  overflow-y: auto;
  border: 1px solid #e0d7f1;
  border-radius: 8px;
  margin-top: 20px;
  background-color: white;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  font-family: 'Segoe UI', sans-serif;
}

.table-container::-webkit-scrollbar {
  width: 6px;
}
.table-container::-webkit-scrollbar-thumb {
  background-color: #a7a7a7;
  border-radius: 4px;
}

.sticky-header th,
.colored-border-table th {
  position: sticky;
  top: 0;
  background-color: #f1d7ff !important;
  z-index: 1;
  color: #7c00a1;  
  font-weight: 600;
  text-align: center;
  padding: 12px 14px;
  border: 1px solid #e0d7f1;
}

.colored-border-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
  background-color: #ffffff;
}

.colored-border-table td {
  border: 1px solid #ddd;
  padding: 12px 14px;
  text-align: center;
  color: #7c00a1;
  font-weight: 500;
}

.colored-border-table tr:nth-child(odd) {
  background-color: #fdf6ff;
}
.colored-border-table tr:nth-child(even) {
  background-color: #fdf6ff;
}


.colored-border-table tr:hover {
  background-color: #f3e1ff;
  transition: background-color 0.2s ease-in-out;
}

.modal-dialog {
  max-width: 500px; 
  margin: 1.75rem auto;
}

.modal-content {
  padding: 20px;
  font-size: 14px; 
  border-radius: 8px;
}

.modal-content input.form-control {
  font-size: 14px;
  padding: 6px 10px;
}

.modal-content h5,
.modal-content h3 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
}

.modal-content .btn {
  font-size: 13px;
  padding: 6px 12px;
}