<!-- <div class="auth-wrapper">
  <div class="auth-container">
    <h1 class="title">Sign In</h1>
    <p class="subtitle">Welcome back! Please enter your details.</p>

    <form (ngSubmit)="onLoginClick()">
      <div class="input-group">
        <label for="email">Email</label>
        <input
          id="email"
          type="text"
          [(ngModel)]="email"
          name="email"
          placeholder="Enter Your Email"
          (ngModelChange)="onEmailChange()"
          required
        />
        <div class="error-text" *ngIf="invalidEmail">
          Invalid email format
        </div>
      </div>

      <div class="input-group">
        <label for="password">MPIN / Password</label>
        <input
          id="password"
          [type]="showPassword ? 'text' : 'password'"
          [(ngModel)]="password"
          name="password"
          placeholder="Enter Your MPIN or Password"
          required
        />
        <span class="toggle-password" (click)="togglePassword()">
          {{ showPassword ? 'HIDE' : 'SHOW' }}
        </span>
      </div>

      <button type="submit" class="btn-submit" [disabled]="invalidEmail">Login</button>

      <p class="redirect-link">
        Don't have an account?
        <a href="#" (click)="checkEmailExistsBeforeRegister($event)">Register Now</a>
      </p>
    </form>
  </div>
  
  <div class="shape shape1"></div>
  <div class="shape shape2"></div>
</div>
 -->
