<div *ngIf="activeTab === 'personal'" class="form-section">
  <h3>Personal Info</h3>

  <div class="form-row" *ngFor="let field of personalForm?.controls | keyvalue">
    <label class="field-label">{{ field.key | titlecase }}</label>

    <!-- <input
      *ngIf="!field.value.disabled"
      class="field-input"
      [formControl]="field.value"
      [readonly]="!isEditing[field.key]"
    />

    <input
      *ngIf="field.value.disabled"
      class="field-input disabled"
      [formControl]="field.value"
      readonly
    /> -->

    <div class="field-actions">
      <button
        *ngIf="!field.value.disabled && !isEditing[field.key]"
        (click)="enableEdit(field.key)"
        class="edit-btn"
      >
        Edit
      </button>

      <button
        *ngIf="isEditing[field.key]"
        (click)="saveField(field.key)"
        class="save-btn"
      >
        Save
      </button>
    </div>
  </div>
</div>